body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #fad67e;
    height: 20vh;
    width: 100%;
    position: relative;
}

.header_box {
  background-color: #f9c76a;
  height: 70%;
  width: 20%;
  left: 5vw;
  top: 3vh;
  position: absolute;
}

.header_box h1 {
    color: #f8b857;
    font-size: 2.5em;
    text-align: center;
    padding-top: 1vh;
}

.header_box h3 {
    color: #f8b857;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
    margin: 0;
    top: 0;
  }

.header_text {
    font-weight: bold;
    padding-top: 2vh;
    left: 30%;
    position: absolute;
}

.header_text h1 {
    color: #f8b857;
}
.header_text h3 {
  color: #ffffff;
}

.main {
    background-color: azure;
    height: 50vh;
    width: 100%;
    padding-block: 2em;
}

.footer {
    background-color: #e6e5e5;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 3vw;
}

.text_footer {
    color: #ffffff;
}
.title_footer {
    color: #cbcac9;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(20px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .grid-container > figure {
    padding: 35px;
    text-align: center;
    min-height: 60px;
  }

  .item_r {
    background: #f69877;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .item_b {
    background: #c8ecf1;
    padding: 20px;
    text-align: center;
    position: relative;

  }

  .item_y {
    background: #fad57d;
    padding: 20px;
    text-align: center;
    position: relative;
  }

  .item_b .box_header {
    background-color: #b0dfe4;
  }

  .item_r .box_header {
    background-color: #ec8360;
  }

  .item_y .box_header {
    background-color: #f8b857;
  }

  .box_header {
    height: 18px;
    width: 100%;
    top: 0;
    left:0;
    position: absolute;
    display: flex;
    justify-content: center;
  }

  .item_b .box_center {
    background-color: #b0dfe4;
  }

  .item_r .box_center {
    background-color: #ec8360;
  }

  .item_y .box_center {
    background-color: #f8b857;
  }

  .box_center {
    height: 50%;
    width: 50%;
    top: 30%;
    left: 26%;
    position: absolute;
  }
