.header {
    background-color: #fad67e;
    height: 20vh;
    width: 100%;
}

.main {
    background-color: azure;
    height: 60vh;
    width: 100%;
}

.footer {
    background-color: #e6e5e5;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer :right{
    height: 100%;
    width: 33%

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .item {
    background: lightgray;
    padding: 20px;
    text-align: center;
  }
  