.header {
    background-color: #fad67e;
    height: 20vh;
    width: 100%;
}

.main {
    background-color: azure;
    height: 50vh;
    width: 100%;
    padding-block: 2em;
}

.footer {
    background-color: #e6e5e5;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(20px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .grid-container > figure {
    padding: 35px;
    text-align: center;
    min-height: 60px;
  }

  .item_r {
    background: #f69877;
    padding: 20px;
    text-align: center;
  }
  
  .item_b {
    background: #c8ecf1;
    padding: 20px;
    text-align: center;
  }

  .item_y {
    background: #fad57d;
    padding: 20px;
    text-align: center;
  }

  .item_b .box_header {
    background-color: #a0babe;
  }

  .item_r .box_header {
    background-color: #bb785d;
  }

  .item_y .box_header {
    background-color: #c3a860;
  }

  .box_header {
    height: 18px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }